# Auto detect text files and perform LF normalization
* text=auto

# JavaScript files
*.js text eol=lf

# HTML files
*.html text eol=lf

# CSS files
*.css text eol=lf

# JSON files
*.json text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
